body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("images/table.png");
    background-size: cover;
    font-weight: bold;
    color: white;
    text-align: center;
}

h1 {
    color: #dedede;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
}

.container{
    padding: 1rem;
    display: inline-block;
    background: #fafafa70;;
    margin-top: 5rem;
    margin-left: 35rem;
    border-radius: 10px;
    width: 22rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}
p{
    color: black;
}

.game-area{ 
    background: #000000a8;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.game-area p{
    color: azure;
}
.game-name{
    background: #000000a8;
    border-radius: 10px;
    padding-left: 6px;
    padding-right: 6px;
}
.score-board-name{
    margin-top: 20px;
    background: #000000a8;
    border-radius: 8px;
    padding: 0.2rem;
}
.score-board-name p{
    color: azure;
}
.message-display p{
    background: red;
    padding: 0.1rem;
    border-radius: 5px;
}